RewriteEngine On
RewriteBase /purmonen/
Options FollowSymLinks

RewriteRule ^blog/(\d+)/?$ blog.php?id=$1
RewriteRule ^newpost/(\d+)/?$ newpost.php?id=$1
RewriteRule ^blog/(\d+)/(\d+)/?$ blog.php?year=$1&month=$2
RewriteRule ^(portfolio|contact|blog|login|logout|newpost|deletepost|editpost)/?$ $1.php

php_flag magic_quotes_gpc off